<h1><%= @session.name %></h1>

<%= render './distractions/form' %>

<br>

<p>

You have been distracted
<%= @session.distractions.size %>
 times.

</p>

<%= form_for(@session) do |f| %>
    	<%= f.submit "END SESSION BRO" %>
<% end %>

