<h1><%= @sesh.name %></h1>

<%= render './distractions/form' %>

<br>

<p>

You have been distracted
<h3><%= @sesh.distractions.size %></h3>
 times.

</p>

<%= form_for(@sesh) do |f| %>
    	<%= f.submit "END SESH BRO" %>
<% end %>

