<h1> Welcome to Distracker </h1>
<br>
<h3> The simple distraction-tracking web application </h3>
<br>

<% if user_signed_in? %>

	<%= render './seshes/form' %>
	<%= render './seshes/index' %>

<% else %>

<br>
<br>
	
	<%= link_to "Log in", new_user_session_path, class: "button" %>
	<%= link_to "Sign up", new_user_registration_path, class: "alert button" %>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
	<script>
	  // To attach Backstrech as the body's background
	  $(document).ready(function() {
	  	$.backstretch( "<%=image_path('no_distractions.jpg')%>");
	  });
	</script>

<% end %>

<br>
<br>
created by <%= link_to 'Justus','http://www.justusunlimited.com'%>
<br>
please contribute to the <%= link_to 'Github Repository','https://github.com/justuseapen/distracker' %>