<% if user_signed_in? %>
	<h1> Distracker </h1>
	<h3> It's like adderall for your brain </h3>

	<%= render './seshes/form' %>
	<%= render './seshes/index' %>

<% else %>
<h1 style="color: white;"> Welcome to Distracker </h1>
<br>
<h3 style="color: white;"> The simple distraction-tracking web application </h3>
<br>
<br>
	
	<%= link_to "Log in", new_user_session_path, class: "button radius" %>
	<%= link_to "Sign up", new_user_registration_path, class: "alert button radius" %>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
	<script>
	  // To attach Backstrech as the body's background
	  $(document).ready(function() {
	  	$.backstretch( "<%=image_path('officespace.JPG')%>", {speed: 'slow'});
	  });
	</script>


<% end %>

<br>
<br>
created by <%= link_to 'Justus','http://www.justusunlimited.com'%>
<br>
please contribute to the <%= link_to 'Github Repository','https://github.com/justuseapen/distracker' %>