<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Distracker" %></title>

    <%= stylesheet_link_tag    "application" %>
    
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Codystar:300,400' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Distracker', root_path%></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active">
            <% if user_signed_in? %>
              <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to 'Log In', new_user_session_path %>
            <% end %>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="center">
        <div class="small-12 medium-12 large-12 columns">

            <% if notice %>
              <p data-alert class="alert-box success"><%= notice %></p>
            <% end %>
            
            <% if alert %>
              <p data-alert class="alert-box warning"><%= alert %></p>
            <% end %>

          <%= yield %>

          <%= javascript_include_tag "application" %>
        </div>
      </div>
    </div>
  

  </body>
</html>
